
/** image-bg css for Detox **/


.preloader{
  background-image:url(https://web-assets-public-assets1-5f36b0c5da62cc4775c2e147bb45fb63095b0.gitlab.io/images/preloader.gif);
}

.main_page.active_boxlayout{
	background: url(https://web-assets-public-assets1-5f36b0c5da62cc4775c2e147bb45fb63095b0.gitlab.io/images/shape/pattern.jpg);
}